.body
  .row
    .three.columns
      .photo
        - user_image = @user.image_url
        - 4.times do 
          = image_tag user_image
      - user_tweets = []
      - user_urls = []
      %ul.side-nav
        - @hashtags.each do |hashtag, num|
          %li
            = link_to "\##{hashtag} (#{num})", "/#{@user.twitter_name}/#{hashtag}"
    .nine.columns
      - @tweets.each do |tweet|
        .tweet
          - #link = link_to 'httlp://t.co', tweet.links.first
          - #CGI.unescape(tweet.text).gsub('http://t.co', link)
          = link_to CGI.unescape(tweet.text), tweet.links.first.url

%nav#page-nav
  %a{href: "/#{@user.twitter_name}?page=2"}

