.row
  .three.columns.sidebar
    .sidebar-module
      .section.header
        .pic
          = image_tag @user.image_url
        = "@#{@user.twitter_name}"
      .section
        %ul
          - @hashtags.each do |hashtag, num|
            %li.home_nav_item
              %a{:href => "\##{hashtag}"}
                \##{"#{hashtag}"}
                %span.unread= "#{num}"
      .cb
  .nine.columns
    - @tweets.each do |tweet|
      .tweet
        = link_to tweet_text(tweet), tweet.links.first.url, :target => "_blank"